{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <form action="#" method="POST" class="form-horizontal alta-form ">
        {% csrf_token %}
        <h4 class="mt-4">Datos básicos</h4>
        <hr>
        <div class="row">
            <div class="col-3">
                <label for="">Tipo de trámite</label>
                {{ form.tipo_de_tramite }}
            </div>
            <div class="col-3">
                <label for="">Nombre</label>
                {{ form.nombre }}
            </div>
            <div class="col-3">
                <label for="">apellido paterno</label>
                {{ form.apellido_paterno }}
            </div>
            <div class="col-3">
                <label for="">apellido materno</label>
                {{ form.apellido_paterno }}
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <label for="">título</label>
                {{ form.titulo }}
            </div>
            <div class="col-3">
                <label for="">fecha nacimiento</label>
                {{ form.fecha_nacimiento }}
            </div>
            <div class="col-3">
                <label for="">sexo</label>
                {{ form.sexo }}
            </div>
            <div class="col-3">
                <label for="">CURP</label>
                {{ form.curp }}
            </div>
            <div class="col-3">
                <label for="">RFC</label>
                {{ form.rfc }}
            </div>
            <div class="col-3">
                <label for="">ocupación</label>
                {{ form.ocupacion }}
            </div>
        </div>
        <h4 class="mt-4">Datos de nacimiento y migratiorios</h4>
        <hr>
        <div class="row">
            <div class="col-3">
                <label for="">país nacimiento</label>
                {{ form.pais_nacimiento }}
            </div>
            <div class="col-3">
                <label for="">país nacionalidad</label>
                {{ form.pais_nacionalidad }}
            </div>
            <div class="col-3">
                <label for="">ciudad de origen</label>
                {{ form.ciudad_de_origen }}
            </div>
            <div class="col-3">
                <label for="">documento migratorio</label>
                {{ form.documento_migratorio }}
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <label for="">calidad migratoria</label>
                {{ form.calidad_migratoria }}
            </div>
            <div class="col-3">
                <label for="">tipo de identificación</label>
                {{ form.tipo_de_identificacion }}
            </div>
            <div class="col-3">
                <label for="">folio de identificación</label>
                {{ form.folio_de_identificacion }}
            </div>
            <div class="col-3">
                <label for="">emite identificación</label>
                {{ form.emite_identificacion }}
            </div>
        </div>
           <h4 class="mt-4">Datos de contacto</h4>
        <hr>
        <div class="row">
            <div class="col-3">
                <label for="">clave larga distancia</label>
                {{ form.clave_larga_distancia }}
            </div>
            <div class="col-3">
                <label for="">teléfono casa</label>
                {{ form.telefono_casa }}
            </div>
            <div class="col-3">
                <label for="">teléfono casa 2</label>
                {{ form.telefono_casa_2 }}
            </div>
            <div class="col-3">
                <label for="">extensión</label>
                {{ form.extension }}
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <label for="">celular</label>
                {{ form.celular }}
            </div>
            <div class="col-3">
                <label for="">celular 2</label>
                {{ form.celular_2 }}
            </div>
            <div class="col-3">
                <label for="">teléfono oficina</label>
                {{ form.telefono_oficina }}
            </div>
            <div class="col-3">
                <label for="">teléfono oficina 2</label>
                {{ form.telefono_oficina }}
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <label for="">email</label>
                {{ form.email }}
            </div>
            <div class="col-3">
                <label for="">email 2</label>
                {{ form.email_2 }}
            </div>
            <div class="col-3">
                <label for="">email 3</label>
                {{ form.email_3 }}
            </div>
            <div class="col-3">
                <label for="">facebook</label>
                {{ form.facebook }}
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <label for="">twitter</label>
                {{ form.twitter }}
            </div>
            <div class="col-3">
                <label for="">web</label>
                {{ form.web }}
            </div>
        </div>
          <h4 class="mt-4">Estado civil</h4>
        <hr>
         <div class="row">
            <div class="col-3">
                <label for="">estado civil</label>
                {{ form.estado_civil }}
            </div>
            <div class="col-3">
                <label for="">conyuge nombre</label>
                {{ form.conyuge_nombre }}
            </div>
            <div class="col-3">
                <label for="">conyuge apellido paterno</label>
                {{ form.conyuge_apellido_paterno }}
            </div>
            <div class="col-3">
                <label for="">conyuge apellido materno</label>
                {{ form.conyuge_apellido_materno }}
            </div>
        </div>
         <div class="row">
            <div class="col-3">
                <label for="">fecha matrimonio</label>
                {{ form.fecha_matrimonio }}
            </div>
            <div class="col-3">
                <label for="">registro civil</label>
                {{ form.registro_civil }}
            </div>
            <div class="col-3">
                <label for="">nro acta</label>
                {{ form.nro_acta }}
            </div>
        </div>
        <button class="btn btn-info mt-3">Guardar</button>
    </form>
{% endblock %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-datepicker/css/bootstrap-datepicker.css' %}">

{% endblock %}
{% block custom_js %}
    <script src="{% static 'vendor/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>

    <script>
        $(function () {
            $('.date-picker').datepicker()
        })
    </script>
{% endblock %}
