{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="row">
        <h2>Datos Basicos</h2>
    </div>
    <hr>
    <div class="row">
        <form action="#" method="POST" class="form-horizontal ">
            {% csrf_token %}
            <div class="alta-form">
                {{ form.as_p }}
            </div>
            <button class="btn btn-info">Guardar</button>
        </form>

    </div>

{% endblock %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-datepicker/css/bootstrap-datepicker.css' %}">

{% endblock %}
{% block custom_js %}
    <script src="{% static 'vendor/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>

    <script>
        $(function () {
            $('.date-picker').datepicker()
        })
    </script>
{% endblock %}